<style type="text/css">
  .card { float: left; margin: 20px;}
  .card-text {
    min-height: 150px;
  }
</style>

 
      
      <% _.each(games, function (game) { %>
      <div class="row">
        <!-- undefined image results in double calls to the controller for some reason -->
        <div class="col-sm-4"><a href="#" class=""><img src="<%=game.img%>" class="img-responsive"></a> 
        </div>
        <div class="col-sm-8">
          <h3 class="title"><%=game.title%></h3>
          <% if(game.type == 'private') {%>
              <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Private Game! <a href=#>Request an invite here</a></p>
         <% } %>
          
          <p><%=game.about %></p>

          <% if(game.streamlink) {%>
          <p>Spectator Link: <a href="<%=game.streamlink %>"</p>
          <% } %>
          <a href="/g/<%=game.id%>" class="btn btn-primary">Join Game with <%=session.player.name%></a>
          <p class="text-muted">GM'd By the amazing <a href="#"><%= game.gm.firstname + ' ' + game.gm.lastname%></a></p>          
        </div>
      </div>
      <hr>
    <% }) %>
      
      

